body{
margin:20px;
}
.chatbox{
background-color: rgb(177, 205, 230);
padding: 20px;
border-radius: 16px;
display: inline-block;
}

.msg{
background-color: dodgerblue;
color: white;
padding: 5px 15px;
border-radius: 16px;

}

.button {
    transition-duration: 0.4s;
    padding: 12px 28px;
  }

